 @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Sevillana&display=swap");
* {
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}
.container {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #fbc2eb, #a6c1ee); 
  position: relative;
}
.container .background-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.container .background-video video{
    height: 100%;
    width: 100%;
    filter: blur(0.5px) brightness(0.5);
}
.inside-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.inside-container .text{
    width: 99%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.inside-container .text h1{
    color: white;
    font-weight: bold;
    width: 100%;
    font-size: 25px;
    margin-bottom: 10px;
}
.text .images{
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid rgb(6, 149, 206);
    margin-top: 20px;
}
.text .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.text .images img:nth-child(1){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fade 10s infinite;
}
.text .images img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade 20s infinite;
}
.text .images img:nth-child(1) {
  animation-delay: 0s;
}

.text .images img:nth-child(2) {
  animation-delay: 5s;
}
@keyframes fade {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.text .message{
    color: white;
    background-color: rgb(6, 149, 206);
    border-radius: 10px;
    margin-top: 30px;
}
.text .message .main{
    display: flex;
}
.text .message .main .options{
    height: 50px;
    line-height: 50px;
    margin-left: 5px;
    overflow: hidden;
}
.text .message .main .options li{
    list-style-type: none;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 16px;
    top: 0;
    animation: slide 20s steps(4) infinite;
}
@keyframes slide {
    100% {
        top: -200px;
    }
}
.text .message .main .options li span{
    position: relative;
    margin: 5px 0;
    line-height: 50px;
    font-weight: bolder;
    font-size: 14px;
}
.text .message .main .options li span::after{
    content: '';
    width: 100%;
    height: 170%;
    left: 0;
    position: absolute;
    background-color:  rgb(6, 149, 206);
    animation: typing 5s steps(77) infinite;
}
@keyframes typing {
    40%, 60%{
        left: 101%;
    }
    100%{
        left: 100%;
    }
}
.audio{
    z-index: 20;
    position: absolute;
    top: 80%;
}
.player-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.audio .buttons{
    display: flex;
    gap: 20px;
}
.audio i{
    font-size: 40px;
    transition: 1s;
    color: skyblue;
}
.audio i:hover{
    color: #fbc2eb;
}
.lookBtn{
    margin-top: 30px;
    background-color: skyblue;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bolder;
    transition: 0.5s ease;
    position: absolute;
    top: 85%;
    cursor: pointer;
}
.lookBtn:hover{
    background-color: #fbc2eb;
}

#confetti{
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 20;
    animation: confetti 100s infinite;
    animation-delay: 1s;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
@keyframes confetti {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}